{% extends "layout.html" %}
{% block content %}
  <h1>About page</h1>
  <p>
    This code is partially an extension of Corey Schafer's Flask tutorial on YouTube.
    His tutorial covered the basics of building a site, and was helpful in learning how the login stuff worked.
    We extended the tutorial quite a bit. We added the feature of saving a post as
    a draft, and then being able to post from the drafts section. We also implemented the ability to "Like" and "Unlike" a post,
    which required creating a table that incorporates a many-to-many relationship.
  </p>

  <p>
    Create an account or two, make some posts and drafts, and enjoy!
  </p>
{% endblock content%}
