{% extends "layout.html" %}
{% block content %}
    {% for draft in drafts|reverse%}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/'+ draft.author.image_file)}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ draft.author.username }}</a>

        </div>
        <h2><a class="article-title" href="{{url_for('draft', draft_id= draft.id)}}">{{ draft.title }}</a></h2>
        <p class="article-content">{{ draft.content }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content%}
